@model UpdateMenuTableDto

@{
    ViewData["Title"] = "UpdateMenuTable";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Bildirim İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Yeni Bildirim Girişi</div>
						</div>
						<div class="card-body">
							<input type="hidden" asp-for="MenuTableId" />
							<div class="form-group">
								<label for="Name">Masa Adı :</label>
								<input type="text" class="form-control" asp-for="Name" id="Name" placeholder="Enter Name">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Status">Masa Durumu :</label>
								<input type="text" class="form-control" asp-for="Status" id="Status" placeholder="Enter Status">
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-success">Gönder</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

