@model UpdateAboutDto

@{
	ViewData["Title"] = "UpdateAbout";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Hakkimizda Islemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Hakkimizda Guncelleme Islemi</div>
						</div>
						<div class="card-body">
							<input type="hidden" asp-for="AboutId" />
							<div class="form-group">
								<label for="Title">Baslik Adini Giriniz</label>
								<input type="text" class="form-control" asp-for="Title" id="Title" placeholder="Enter Title Name">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="ImageUrl">Image Adini Giriniz</label>
								<input type="text" class="form-control" asp-for="ImageUrl" id="ImageUrl" placeholder="Enter ImageUrl Name">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Description">Description Adini Giriniz</label>
								<input type="text" class="form-control" asp-for="Description" id="Description" placeholder="Enter Description Name">
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-success">Baslik Guncelle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


