@model UpdateTestimonialDto

@{
	ViewData["Title"] = "UpdateTestimonial";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Testi Monial Islemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Testi Monial Guncelleme</div>
						</div>
						<input type="hidden" asp-for="TestimonialId"/>
						<div class="card-body">
							<div class="form-group">
								<label for="Name">Musteri Adini Giriniz</label>
								<input type="text" class="form-control" asp-for="Name" id="Name" placeholder="Name">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Title">Musteri Adresini Giriniz</label>
								<input type="text" class="form-control" asp-for="Title" id="Title" placeholder="Title">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="ImageUrl">Musteri Resim Dosya Yolunu Giriniz</label>
								<input type="text" class="form-control" asp-for="ImageUrl" id="ImageUrl" placeholder="ImageUrl">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Comment">Musteri Yorumunu Giriniz</label>
								<input type="text" class="form-control" asp-for="Comment" id="Comment" placeholder="Comment">
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-success">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

