
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

 @await Component.InvokeAsync("_UILayoutHeaderPartialComponent")

<body>

    <div class="hero_area">
        <div class="bg-box">
            <img src="~/feane-1.0.0/images/hero-bg.jpg" alt="">
        </div>
    @await Component.InvokeAsync("_UILayoutNavBarPartialComponent")
    @RenderSection("Slider",required:false)    
    </div>
    @RenderBody()
    @await Component.InvokeAsync("_UILayoutFooterPartialComponent")
    @await Component.InvokeAsync("_UILayoutScriptsPartialComponent")

</body>

</html>