@model UpdateDiscountDto

@{
	ViewData["Title"] = "UpdateDiscount";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Indirim Islemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Indirim Guncelleme</div>
						</div>
						<input type="hidden" asp-for="DiscountId"/>
						<div class="card-body">
							<div class="form-group">
								<label for="Title">Urun Adini Giriniz</label>
								<input type="text" class="form-control" asp-for="Title" id="Title" placeholder="Title">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Amount">Urun Indirim Oranini Giriniz</label>
								<input type="text" class="form-control" asp-for="Amount" id="Amount" placeholder="Amount">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="ImageUrl">Urun Gorselini Giriniz</label>
								<input type="text" class="form-control" asp-for="ImageUrl" id="ImageUrl" placeholder="ImageUrl">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Description">Urun Aciklamasini Giriniz</label>
								<input type="text" class="form-control" asp-for="Description" id="Description" placeholder="Description">
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-success">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

